<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form">
  <mat-form-field class="full-width form-group">
    <input matInput type="text" id="email" required name="email" formControlName="email" placeholder="Email">
  </mat-form-field>
  <mat-form-field class="full-width form-group">
    <input matInput type="password" id="password" required name="password" formControlName="password" placeholder="Password">
  </mat-form-field>
  <div class="full-width form-group">
    <button mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
  </div>
  <div class="full-width form-group login-form-helpers">
    <mat-slide-toggle>Keep me logged in</mat-slide-toggle>
  </div>
</form>
