<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form">
  <mat-form-field class="full-width form-group">
    <input matInput type="text" id="email" required formControlName="email" name="email" placeholder="Email Address">
  </mat-form-field>
  <mat-form-field class="full-width form-group">
    <input matInput type="password" id="password" required formControlName="password" name="password" placeholder="Password">
  </mat-form-field>
  <mat-form-field class="full-width form-group">
    <input matInput type="password" id="confirmPassword" required name="confirm_password" formControlName="confirmPassword" placeholder="Confirm Password">
  </mat-form-field>
  <div *ngIf="form.controls.confirmPassword.errors?.matchPassword" class="form-group-error">
    Passwords do not match!
  </div>
  <mat-form-field class="full-width form-group">
    <input matInput type="firstName" id="firstName" required formControlName="firstName" name="firstName" placeholder="First Name">
  </mat-form-field>
  <mat-form-field class="full-width form-group">
    <input matInput type="lastName" id="lastName" required formControlName="lastName" name="lastName" placeholder="Last Name">
  </mat-form-field>
  <mat-form-field class="full-width form-group">
    <input matInput type="tel" id="primaryPhone" required formControlName="primaryPhone" name="primaryPhone" placeholder="Primary Phone">
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
</form>
