<div class="wrapper">
  <img src="/static/assets/images/pencils.jpg" style="width: 200px;" />
  <h1>
    Welcome to {{title}}!
  </h1>
  <div *ngIf="loggedIn">
    <div class="top-menu">
      <nav mat-tab-nav-bar>
        <a mat-tab-link
          *ngFor="let link of navLinksLoggedIn"
          [routerLink]="link.path"
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          {{ link.label }}
        </a>
        <a mat-tab-link href="javascript: void(0);" (click)="handleLogout()">Log Out</a>
      </nav>
    </div>
  </div>
  <div *ngIf="!loggedIn" class="top-menu">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
        *ngFor="let link of navLinksLoggedOut"
        [routerLink]="link.path"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{ link.label }}
      </a>
    </nav>
  </div>
	<router-outlet></router-outlet>
</div>
